body {
	background-color: ivory;
	padding:10px;
}

.border {
	border:1px solid black;
}
   
    
#wrapper {
    position:relative;
}
#canvasTop,#canvasBottom {
    position:absolute; top:0px; left:0px;
	 image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
#photo-button {
	position: absolute;
	left:-9999px;
}

td>div{
  width:30px;
  height:30px;
  background-color: #ccc;
  margin: 0 auto;
}

td {
}

/*w3c custom check*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    font-weight: normal;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid black;
}


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* radio */
.opcion-radio {
  display: inline-block;
  margin-right: 18px;
}

.opcion-radio input {
  margin-right: 5px;
}

.opcion-radio input[type=radio] {
    position: absolute;
    opacity: 0;
}

.opcion-radio input[type=radio] + label:before {
    content: '';
    background: white;
    border-radius: 60%;
    border: 2px solid black;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: -.2em;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.opcion-radio input[type=radio]:checked + label:before {
    background-color: black;
    box-shadow: inset 0 0 0 4px white;
}
.opcion-radio label {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
	font-weight: normal;
	font-size:0.9em;
}


/* Dialog */
dialog {
  padding: 0;
  border: 2px solid #333;
  font-family: 'Segoe UI', Helvetica, Verdana, Arial, Sans-Serif, sans;
  width:300px;
}

dialog::backdrop {
  /* make the backdrop a semi-transparent black */
  background-color: rgba(0, 0, 0, 0);
}
dialog + .backdrop {
  background-color: rgba(0, 0, 0, 0);
}

.modal-header{
  padding: 0px 10px 0px 10px;
}
.modal-body{
  border-top: 1px solid #333;
  padding: 10px 20px 0 20px;
}

.modal-body input{
	width:50px !important;
}

.modal-footer{
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #333;
  background: #efefef;
}
.modal-footer button{
  padding: 0 20px 0 20px;
}
